<template>
    <div class="jumbotron">
        <h1 class="display-4">Uangku</h1>
        <p class="lead">Atur keuanganmu lebih mudah dengan Uangku</p>
        <hr class="my-4">
        <router-link :to="{ name: 'transaction' }" class="btn btn-primary btn-lg" role="button">SELENGKAPNYA</router-link>
    </div>
</template>

<script>
    export default {


    }
</script>