<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" v-bind:class=" { 'navbarOpen': show }">
        <router-link :to="{ name: 'home' }" class="navbar-brand">Uangku</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" @click.stop="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" v-bind:class="{ 'show': show }">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link :to="{ name: 'home' }" class="nav-link">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{ name: 'category' }" class="nav-link">Kategori</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{ name: 'transaction' }" class="nav-link">Transaksi</router-link>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">CARI</button>
            </form>
        </div>
    </nav>
</template>

<script>
    export default {

        props: {
            msg: String
        },
        data() {
            return {
            show: false
            }
        },
        methods: {
            toggleNavbar() {
            this.show = !this.show
            }
        }
    }
</script>