<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Kategori</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <router-link :to="{ name: 'transaction' }" class="btn btn-success">Lihat Transaksi</router-link>
                        </div>
                        <div class="col text-right mb-4">
                            <router-link :to="{ name: 'category.add' }" class="btn btn-md btn-primary">Tambah Kategori</router-link>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nama</th>
                                <th scope="col">Deskripsi</th>
                                <th scope="col">Tipe</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(category, index) in categories" :key="category.id">
                                <td>{{category.category_name}}</td>
                                <td>{{category.category_description}}</td>
                                <td>{{category.category_type == 'income' ? 'Pemasukan' : 'Pengeluaran' }}</td>
                          
                                <td>
                                    <div class="text-right">
                                        <router-link :to="{name: 'category.edit', params: { id: category.id }}" class="btn btn-sm btn-primary">Edit</router-link>
                                        <button @click.prevent="CategoryDelete(category.id, index)" class="btn btn-sm btn-danger">Hapus</button>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data() {
            return {
                categories: []
            }
        },
        created() {
            let uri = '/api/category';
            this.axios.get(uri).then(response => {
                this.categories = response.data.data;
            });
        },
        methods: {
            CategoryDelete(id, index)
            {              
                if(confirm("Yakin Mau di Hapus?")){          
                    this.axios.delete(`/api/category/${id}`)
                        .then(response => {
                            this.categories.splice(index, 1);
                        }).catch(error => {
                        alert(error)
                    });
                }
            }
        }
    }
</script>
