<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Kategori</div>
                    <div class="card-body">
                        <form @submit.prevent="CategoryUpdate">
                            <div class="row">
                                <div class="col">
                                    <router-link :to="{ name: 'category' }" class="btn btn-danger">Kembali</router-link>
                                </div>
                                <div class="col text-right">
                                    <button class="btn btn-primary" type="submit">Simpan</button>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label>Tipe Kategori</label>
                                <select class="form-control" v-model="category.category_type" required>
                                    <option v-for="type in types" :key="type.text" :value="type.value">{{type.text}}</option>
                                </select>
                                <div v-if="validation.category_type">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.category_type[0] }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label>Kategori</label>
                                <input type="text" class="form-control" v-model="category.category_name" required>
                                <div v-if="validation.category_name">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.category_name[0] }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label>Deskripsi</label>
                                <textarea class="form-control" rows="4" v-model="category.category_description"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                category: {},
                validation: [],
                types: [
                     { text: 'Pemasukan', value: 'income' },
                     { text: 'Pengeluaran', value: 'spending' }
                ],

            }
        },
        created() {
            let uri = `/api/category/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
                this.category = response.data.data;
            });
        },
        methods: {
            CategoryUpdate() {
                let uri = `/api/category/update/${this.$route.params.id}`;
                this.axios.post(uri, this.category)
                    .then((response) => {
                        this.$router.push({name: 'category'});
                    }).catch(error => {
                    this.validation = error.response.data.data;
                    console.log(error.response)

                });
            }
        }
    }
</script>