<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Transaksi</div>
                <div class="card-body">
                    <form @submit.prevent="TransactionStore">
                        <div class="row">
                            <div class="col">
                                <router-link :to="{ name: 'transaction' }" class="btn btn-danger">Kembali</router-link>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-primary" type="submit">Tambah</button>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label>Tipe Kategori</label>
                            <select class="form-control" v-model="transaction.category_type" @change="GetCategoryByType">
                                <option v-for="type in types" :key="type.text" :value="type.value">
                                      {{type.text}}  
                                </option>
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label>Kategori</label>
                            <select class="form-control" v-model="transaction.transaction_category">
                                <option>Pilih Kategori</option>
                                <option v-for="category in categories" :key="category['category_name']" :value="category['id']">
                                      {{category['category_name']}}  
                                </option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label>Nominal</label>
                            <input type="number" class="form-control" v-model="transaction.transaction_amount">
                        </div>
                        <div class="form-group mb-3">
                            <label>Catatan Transaksi</label>
                            <textarea class="form-control" v-model="transaction.transaction_description" rows="5">
                            
                            </textarea>
                        
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data() {
            return {
                categories:{},
                transaction: {},
                validation: [],
                types: [
                     { text: 'Pemasukan', value: 'income' },
                     { text: 'Pengeluaran', value: 'spending' }
                ],

            }
        },
 
        methods: {
            TransactionStore() {
                let uri = '/api/transaction/store';
                this.axios.post(uri, this.transaction)
                    .then((response) => {
                        this.$router.push({
                            name: 'transaction'
                        });
                    }).catch(error => {
                    this.validation = error.response.data.data;
                    console.log(error.response);
                });
            },
            GetCategoryByType(){
                let uri = `/api/category?category_type=${this.transaction.category_type}`;
                this.axios.get(uri).then(response => {
                    this.categories = response.data.data;
                });

            }
        }
    }
</script>
