<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <div class="card mb-4">
                <div class="card-header">Transaksi</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-4 order-1 order-md-1 mb-4">
                            <div class="row">
                                <div class="col">Pemasukan</div>
                                <div class="col text-right"><span class="text-success">{{transactions.income | currency}}</span></div>
                            </div>
                            <div class="row">
                                <div class="col">Pengeluaran</div>
                                <div class="col text-right"><span class="text-danger">{{transactions.spending | currency}}</span></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col">Saldo Saat ini</div>
                                <div class="col text-right"><span :class="transactions.total < 0 ? 'text-danger' : 'text-success'">{{transactions.total | currency}}</span></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 order-2 order-md-2">
                            <div class="form-group mb-3">
                                <form class="form-inline" @submit.prevent="TransactionFilter">
                                    <div class="form-group mb-2">
                                        <input type="date" class="form-control filter_date" v-model="transactions.yearRangeStart"> 
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input type="date" class="form-control filter_date" v-model="transactions.yearRangeEnd">   
                                    </div>
                                    <div class="form-group mb-2">
                                        <button class="btn btn-primary" type="submit">Filter</button>
                                    </div>
                                </form>
                            
                            </div>
                        </div>
                        <div class="col-12 col-md-2 order-3 order-md-3 ">
                            <div class="text-right mb-4">
                                <router-link :to="{ name: 'transaction.add' }" class="btn btn-md btn-primary">Tambah Transaksi</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Rincian</div>

                <div class="card-body">
                    <table class="table">
                        <!-- <thead>
                            <tr>
                                <th scope="col">Nominal</th>
                                <th scope="col">Catatan</th>
                                <th scope="col">Tanggal</th>
                                <th scope="col"></th>
                            </tr>
                        </thead> -->
                        <tbody>

                            <tr v-for="(transaction, index) in transactions.list" :key="transaction.id">
                                <td><h3>{{ transaction.created_at | moment("Do") }}</h3></td>
                                <td><div class="text-nowrap">{{ transaction.created_at | moment("dddd, MMMM YYYY") }}</div>
                                    <small><router-link :to="{ name: 'category' }">{{ transaction.category_name }}</router-link></small>
                                    <small>{{ transaction.transaction_description ? ' - ' : ''}} {{transaction.transaction_description}}</small>
                                    <small> - <router-link :to="{name: 'transaction.edit', params: { id: transaction.id }}" class="text-primary">Edit</router-link></small>
                                    <small> - <a @click.prevent="TransactionDelete(transaction.id, index)" class="text-danger">Hapus</a></small>
                                </td>
                                <td><div class="text-nowrap text-right" :class="transaction.category_type == 'income' ? 'text-success' : 'text-danger'">{{ transaction.transaction_amount | currency}}</div></td>

                           
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>
    export default {
        data() {
            return {
                transactions: []
            }
        },
        created() {
            let uri = '/api/transaction';
            this.axios.get(uri).then(response => {
                this.transactions = response.data.data;
            });
        },
        methods: {
            TransactionDelete(id, index)
            {              
                if(confirm("Yakin Mau di Hapus?")){          
                    this.axios.delete(`/api/transaction/${id}`)
                        .then(response => {
                            this.transactions.list.splice(index, 1);
                        }).catch(error => {
                        alert(error)
                    });
                }
            },
            TransactionFilter()
            {                        
                this.axios.get(`/api/transaction?yearRangeStart=${this.transactions.yearRangeStart}&yearRangeEnd=${this.transactions.yearRangeEnd}`)
                    .then(response => {
                        this.transactions = response.data.data;
                    }).catch(error => {
                    alert(error)
                });
            }
        }
    }
</script>